<img src="https://raw.githubusercontent.com/ulewis/Ejemplos/main/Im%C3%A1genes/PORTADA_PI1.png" alt="UPCH" width="900">

Analizando algunos detalles basicos de lenguaje Python.

# Introducción básica

## 1. **Tipos de datos básicos en Python**

>#### **Tipado Dinámico**
El valor de las varibales se cambia de forma directa, y se pueden hacer conversiones de tipos de datos.

In [61]:
# CREAMOS INICIALMENTE UNA VARIABLE DEL TIPO NUMÉRICO
numero = 5.0
print("el número es : ")
print(numero)
print(type(numero))

el número es :
5.0
<class 'float'>

In [62]:
print(type(numero))# DE FORMA DIRECTA CAMBIAMOS EL CONTENIDO DE LA VARIABLE.
#ESTA SE AJUSTA Y CONVIERTE AL TIPO DE DATOS SEGÚN SU ENTRADA
numero = "hola"
print(type(numero))

<class 'float'>
<class 'str'>


>#### **Variables**

Una variable almacena un valor y se le asigna un nombre. Hay diversos tipos de variables y obedecen a diferentes propósitos.
 - Las variables son **sensibles a Mayúsculas y minúsculas**.
 - En Python existen **3 tipos de Datos Basicos** (entero, string e booleano).
Ahora veremos los tres tipos de datos básicos que una variable puede ser:

In [63]:
var = 10
print(type(var))

var = 10.1
print(type(var))

var = "Hola"
print(type(var))

<class 'int'>
<class 'float'>
<class 'str'>


>#####  **Datos Numéricos**

In [64]:
# VARIABLES ENTERAS
num_int = 10          # No se necesita punto y coma al final
print(num_int)        # Imprimir en consola el valor de la variable
print(type(num_int))  # "type" muestra el tipo de dato que es mi variable

10
<class 'int'>

In [65]:
# VARIABLES FLOTANTES
num_float = 10.5          # Los flotantes son números con punto decimal
print(num_float)
print(type(num_float))

10.5
<class 'float'>

In [66]:
# NÚMEROS COMPLEJOS
# R + aj
num_compl = 5 + 2j
print(num_compl.real)
print(num_compl.imag)
print(num_compl)
print(type(num_compl))

5.0
2.0
(5+2j)
<class 'complex'>

In [67]:
# TAMBIEN PODEMOS DEFINIR NUMEROS EN EL SISTEMA OCTAL
num_base_8 = 0o6217   # 271 en decimal
print(num_base_8)

3215

In [68]:
# LO MISMO PASA CON EL SISTEMA HEXADECIMAL
num_base_16 = 0x1524  # 292 en decimal
print(num_base_16)

5412



>###  **Datos del Tipo String o cadenas de caracteres**

In [69]:
# SE PUEDEN USAR ASPAS DOBLES PARA DEFINIR UN STRING
texto_asp_dob = "¡Hola estudiantes de la Universidad Peruana Cayetano Heredia !"
print(texto_asp_dob)
print(type(texto_asp_dob))

¡Hola estudiantes de la Universidad Peruana Cayetano Heredia !
<class 'str'>

In [70]:
# TAMBIEN, SE PUEDEN USAR ASPAS SIMPLES ...
texto_asp_simp = 'hola amigos'
print(texto_asp_simp)

hola amigos

In [71]:
# Y ¿SI QUEREMOS MOSTRASLAS ASPAS EN LA SALIDA DEL TEXTO? PUES, TODO BIEN ...
text_asp_dentro = " 'hola amigos' "
print(text_asp_dentro)

 'hola amigos'

In [72]:
texto_asp_simp = ' "hola amigos" '
print(texto_asp_simp)

 "hola amigos"

>###  **Datos del Tipo Booleano**

---
*   La primera letra debe estar siempre en Mayusculas con **T** para VERDADERO
*   La primera letra debe estar siempre en Mayusculas con **F** para FALSO
* Python implementa todos los operadores usuales de la lógica booleana, usando palabras en inglés **(and, or, not)** en lugar de símbolos (||, &&, !, etc).

También se tienen los típicos operadores de comparación:

<table align="left">
<thead>
<tr>
<th>Símbolo</th>
<th>Significado</th>
<th>Ejemplo</th>
<th>Resultado</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>==</code></td>
<td>Igual que</td>
<td><code>5 == 7</code></td>
<td><code>False</code></td>
</tr>
<tr>
<td><code>!=</code></td>
<td>Distinto que</td>
<td><code>rojo != verde</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&lt;</code></td>
<td>Menor que</td>
<td><code>8 &lt; 12</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&gt;</code></td>
<td>Mayor que</td>
<td><code>12 &gt; 7</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&lt;=</code></td>
<td>Menor o igual que</td>
<td><code>12 &lt;= 12</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&gt;=</code></td>
<td>Mayor o igual que</td>
<td><code>4 &gt;= 5</code></td>
<td><code>False</code></td>
</tr>
</tbody>
</table>

In [73]:
valor_A = True
print(valor_A)

True

In [74]:
valor_B = False
print(valor_B)

False

In [75]:
print(not valor_B)

True

In [76]:
# A and B or A
print(valor_A and valor_B or valor_A)

True

In [77]:
# B and B or (A and B) and (A or A)

print(valor_B and valor_B or (valor_A and valor_B) and (valor_A or valor_A))

False

In [78]:
# (B != A) and (A == not B)

print((valor_B != valor_A) and (valor_A == (not valor_B)))

True

In [79]:
# (not A == not B) and [(B) or (not B or A)]

print((not valor_A == (not valor_B)) and [(valor_B) or ((not valor_B) or valor_A)])

False

>###  **El comando PRINT()**

Nos permite mostrar en la pantalla el contenido de nuestras variables, asi como mensajes.

In [80]:
num_1 = 8
num_2 = 2

resultado = (num_1 + num_2)/3.0

In [81]:
print(resultado)

3.3333333333333335

In [82]:
print("El resultado de", num_1, "mas", num_2, "es", resultado)
# Esta es una forma típica

El resultado de 8 mas 2 es 3.3333333333333335

In [83]:
print("El resultado de {} mas {} es {:.2f}".format(num_1, num_2, resultado))
# Este es el método más usado en Python2.x

El resultado de 8 mas 2 es 3.33

In [84]:
print(f"El resultado de {num_1} mas {num_2} es {resultado:.1f}")
# Este es el nuevo formato desde Python 3, más ordenado para redondeo

El resultado de 8 mas 2 es 3.3

## **2. Operadores Aritméticos en Python**
---

```
----------------------------------------------------------
 Símbolo  Significado        Ejemplo            Resultado
   +       suma              a = 10 + 5         a es 15
   -       resta             a = 12 - 7         a es  5
   -       negaciòn          a = -5             a es -5
   *       multiplicación    a = 7 * 5          a es 35
  **       potencia          a = 2 ** 3         a es  8
   /       división          a = 12.5 / 2       a es  6.25
  //       división entera  a = 12.5 // 2      a es  6.0
   %       módulo            a = 27 % 4         a es  3
----------------------------------------------------------
```
SUGERENCIA:
Coloque siempre un espacio en blanco antes y despues de un operador

**Ejemplo de Suma**

In [85]:
num_1 = 10
num_2 = 15

valor = num_1 + num_2

print(f"El resultado de {num_1} más {num_2} es {valor}")

El resultado de 10 más 15 es 25

**Ejemplo de Substracción**

In [86]:
valor = num_1 - num_2
print(f"El resultado de {num_1} menos {num_2} es {valor}")

El resultado de 10 menos 15 es -5

**Ejemplo de Negación**

In [87]:
valor = - num_1

print(f"La negación de {num_1} es {valor}")
print("La negación de {} es {}".format(num_1, valor))

La negación de 10 es -10
La negación de 10 es -10

**Ejemplo de Multiplicación**

In [88]:
valor = num_1 * num_2
print(f"El resutlado de {num_1} por {num_2} es {valor}")
print("El resultado de {} por {} es {}".format(num_1, num_2, valor))

El resutlado de 10 por 15 es 150
El resultado de 10 por 15 es 150

**Ejemplo de División**

In [89]:
valor = num_1 / num_2
print(f"La division de {num_1} con {num_2} es {valor}")     # Sin redondear
print(f"La division de {num_1} con {num_2} es {valor:.4f}") # Redondeando

La division de 10 con 15 es 0.6666666666666666
La division de 10 con 15 es 0.6667

**Ejemplo de Divisón entera y modulo**

In [90]:
# cociente
valor = num_2 // num_1
print(f"el cociente de dividir {num_2} entre {num_1} es {valor}")

# modulo o resto
valor = num_2 % num_1
print(f"el modulo de dividir {num_2} entre {num_1} es {valor}")

el cociente de dividir 15 entre 10 es 1
el modulo de dividir 15 entre 10 es 5

**Ejemplo de Potencia**

In [91]:
pot = 3
valor = num_1 ** pot

print(f"{num_1} elevado al {pot} es {valor}")

10 elevado al 3 es 1000

## **3. Asignaciones en Python**
---

Si queremos intercambiar el valor de dos o más variables podemos hacer lo siguiente:

In [92]:
a = 10
b = 25
c = 15
d = 38

print(f"a es {a}, b es {b}, c es {c}, d es {d}")

a, b, c, d = b, a, d, c


print(f"a es {a}, b es {b}, c es {c}, d es {d}")

a es 10, b es 25, c es 15, d es 38
a es 25, b es 10, c es 38, d es 15

## **5. Conversión de Datos en Python**
---

In [93]:
# CONNVERSION DE STRING A NÚMERO
var_str = "100"
print(type(var_str))

var_int = int(var_str)
print(type(var_int))

var_flt = float(var_str)
print(type(var_flt))

<class 'str'>
<class 'int'>
<class 'float'>

In [94]:
# CONNVERSION DE NÚMERO A STRING
var_num = 10
print(type(var_num))

var = str(var_num)
print(type(var))

var = abs(-10)
print(var)

<class 'int'>
<class 'str'>
10

# **Estructuras de Datos**

## Lista

Una lista es una agrupación ordenada de múltiples **tipos de datos**. A cada elemento le corresponde un **índice numérico**. Una lista se define de la siguiente manera:

``` python
  mi_lista = ["profesor" , 30 , True ],  
  donde el primer elemento es "profesor",
  el segundo es 30 y el tercero es True.
```

La numeración de una lista en Python empieza desde 0 (esta es una característica que deberá tener en cuenta de ahora en adelante).
<img src="https://islascruz.org/blog/wp-content/uploads/2016/11/selectsort.jpg" alt="Girl in a jacket" width="250" height="70">

Python tiene soporte para listas como un tipo predefinido del lenguaje. Para crear una lista basta con poner cosas entre **[ ]** (corchetes) y separarlas con **,** (comas).

In [95]:
# Definir una lista
lista_1 = ["Albert Einstein", "físico", 1879, "premio nobel"]
print("Esta es la lista_1:", lista_1 )
#Acceder a un elemento de la lista (la numeración en Python empieza en 0)
print(lista_1[0])   #Primer elemento (empieza en 0)
print(lista_1[1])   #Segundo elemento
print(lista_1[2])   #Tercer elemento
print(lista_1[3])   #Tercer elemento

Esta es la lista_1: ['Albert Einstein', 'físico', 1879, 'premio nobel']
Albert Einstein
físico
1879
premio nobel

In [96]:
# 1. Mostrar toda la lista
print(lista_1)
print(lista_1[:])

['Albert Einstein', 'físico', 1879, 'premio nobel']
['Albert Einstein', 'físico', 1879, 'premio nobel']

In [97]:
# 2. Para nostrar el último elemento se usa -1
print(lista_1[-1])

premio nobel



---
Es importante aclarar lo siguiente:

![listas](https://raw.githubusercontent.com/ulewis/Ejemplos/main/Imágenes/img_notebooks/Listas.png)

In [98]:
# 4. Mostrar todos los elementos a partir de una posicion inicial
print(lista_1[0:2])
print(lista_1[1:3])
print(lista_1[2:])

['Albert Einstein', 'físico']
['físico', 1879]
[1879, 'premio nobel']

###  **Funciones Básicas para el Tratamiento de Listas**

#### **Agregar elementos a una lista**

* se usan las funciones
 * **append()** para insertar elementos al **final** de la lista
 * **insert(x, elemento)** para insertar un **elemento** en una posición **x**

In [99]:
print("Creamos una Lista Vacia")
lista = list() #[]

Creamos una Lista Vacia

In [100]:
lista = list() #[]
print("Agregamos tres elemento al final de la lista usando 'append'")
lista.append("adios")
lista.append("bienvenidos")
lista.append(2)
print(lista)

Agregamos tres elemento al final de la lista usando 'append'
['adios', 'bienvenidos', 2]

In [101]:
print("Agregamos una lista a la lista")
print("Es una lista con otra lista. NO hacer esto para concatenar listas")
lista = ["hola", 23]
print(lista)
lista.append([45, 26])
print(lista)

Agregamos una lista a la lista
Es una lista con otra lista. NO hacer esto para concatenar listas
['hola', 23]
['hola', 23, [45, 26]]

In [102]:
print("Insertamos un elemento en una posicion determinada")
lista = ["hola", "que tal", 15]
num = 0 #
lista.insert(1, num)
print(lista)

Insertamos un elemento en una posicion determinada
['hola', 0, 'que tal', 15]

#### **Eliminar elementos de una lista**

* Se usan las funciones

 * **pop()**            para eliminar el **último** elemento de la lista
 * **pop(**x**)**    para eliminar el elemento de la posición **x**
 * **remove(**valor**)** para eliminar el primer elemento que sea igual a
 * **clear()** para eliminar todos los elementos

In [103]:
print("Creamos una Lista inicial")
lista = [1, "hola", 3, "tú", 4,"tú", 5, 6, 7, 8]
print(lista)

Creamos una Lista inicial
[1, 'hola', 3, 'tú', 4, 'tú', 5, 6, 7, 8]

In [104]:
print("Eliminar el último elemento de la lista")
dato_eliminado = lista.pop()
print(lista)
print(dato_eliminado)

Eliminar el último elemento de la lista
[1, 'hola', 3, 'tú', 4, 'tú', 5, 6, 7]
8

In [105]:
#eliminar el indice 4
lista.pop(4)
print(lista)

[1, 'hola', 3, 'tú', 'tú', 5, 6, 7]

In [106]:
print("Eliminar elemento por su valor (el primero que encuentra). ")
print(lista)
elem = "tú"
lista.remove(elem)
print(lista)

Eliminar elemento por su valor (el primero que encuentra).
[1, 'hola', 3, 'tú', 'tú', 5, 6, 7]
[1, 'hola', 3, 'tú', 5, 6, 7]

In [107]:
print("limpiar la lista completamente")
print(lista)
lista.clear()
print(lista)

limpiar la lista completamente
[1, 'hola', 3, 'tú', 5, 6, 7]
[]

#### **Buscar elementos en una lista**



*  Usamos **in** para saber si un elemento existe en la lista.

In [108]:
lista = ["hola", 1, 2, "hola", 1,2]
resp = 1 in lista
print(resp)

True

* Usamos **index()** para buscar la posición de un elemento en la lista.

In [109]:
pos = lista.index(1)
print(pos)

1

* Usamos **count()** para contar cuantos veces se repite un elemento en la lista.

In [110]:
print(lista.count(2))

2

#### **Otras operaciones en una lista**

* Usar **len()** para saber el tamaño de una lista

In [118]:
lista = [1, 2, [3, 6, 8, 4], [1, 2], 8, 9]
print(f"tamaño de la lista: {len(lista)}")
print(len(lista[3]))

tamaño de la lista: 6
2

* Usar **extend()** concatenar dos listas o el simbolo **+**

In [119]:
lista_1 = [1, 2, 3]
lista_2 = ["lunes", "martes", "miercoles"]

lista_2.extend(lista_1)
print(lista_2)

['lunes', 'martes', 'miercoles', 1, 2, 3]

* otra forma de concatenar

In [120]:
lista_1 = [1, 2, 3]
lista_2 = ["lunes", "martes", "miercoles"]
#lista_1 = lista_1 + lista_2
lista_1 += lista_2
print(lista_1)
#OJO al trabajar en NUMPY (matrices). APLICA EN LISTAS

[1, 2, 3, 'lunes', 'martes', 'miercoles']

* Usar **reverse()** para invertir una lista.

In [121]:
print("Lista Original")
lista = ["lunes", "martes", "miercoles"]
print(lista)

print("Lista Invertida")
lista.reverse()
print(lista)

Lista Original
['lunes', 'martes', 'miercoles']
Lista Invertida
['miercoles', 'martes', 'lunes']

* Usar **sort()** para ordenar una lista.

In [122]:
print("Lista original")
lista = [1, 5, -10, -4, 2, 3, 8, -8]
print(lista)

print("Lista ordenada de menor a mayor")
lista.sort()
print(lista)

Lista original
[1, 5, -10, -4, 2, 3, 8, -8]
Lista ordenada de menor a mayor
[-10, -8, -4, 1, 2, 3, 5, 8]

In [123]:
print("Lista original")
lista = [1, 5, -10, -4, 2, 3, 8, -8]
print(lista)

print("Lista ordenada de mayor a menor")
lista.sort(reverse=True)
print(lista)

Lista original
[1, 5, -10, -4, 2, 3, 8, -8]
Lista ordenada de mayor a menor
[8, 5, 3, 2, 1, -4, -8, -10]

## **Tuplas**

Una tupla es similar a una lista, solo que es **inmutable**, es decir que sus valores no se pueden modificar.

```
mi_tupla = ( 'estudiante' , 15 , False )
```

Para crear una tupla, basta con poner elementos entre **( )** (**paréntesis**) y separarlas con **,** (**comas**).

* Acceder a cada elemento se hace del mismo modo que con las listas.

In [127]:
print("Creando una Tupla. Notese el uso de paréntesis ()")
tupla_1 = ("Alan Turing" , "programación" , 20)
print(tupla_1[0])
print(tupla_1[1])
print(tupla_1[2])

Creando una Tupla. Notese el uso de paréntesis ()
Alan Turing
programación
20

* Dado que las tuplas son inmutables no poseen métodos como **append() , pop() , remove()** o cualquiera que intente modificar la tupla. Veamos que sucede si intentamos hacerlo:

In [128]:
tupla_inmutable = ('Hola',13,'Elemento')
print(tupla_inmutable)

('Hola', 13, 'Elemento')

In [130]:
tupla_inmutable = ['Hola',13,'Elemento']
tupla_inmutable.pop()

'Elemento'

* Observe que **no se ejecuta el código** y nos muestra un mensaje de **error**. Ahora exploremos los métodos que si funcionan en las tuplas. Definamos la tupla Usuario que tenga información inmutable de una persona como su nombre, año de nacimiento y lugar de nacimiento.

In [131]:
usuario = ('Margaret Hamilton', 1936 , 1936, 'Indiana')
print(len(usuario))              #Muestra cuantos elementos hay en la tupla
print(usuario.count(1936))  #Cuenta cuantas veces aparece el elemento 'Indiana'
print(usuario.index(1936))       #Muestra el índice del elemento 1936

4
2
1

## **Diccionarios**

- Un diccionario es una colección no ordenada de pares clave : valor.
- A diferencia de las listas o tuplas (que usan índices numéricos), en un diccionario se accede a los datos mediante sus claves.
- Las claves son únicas: no puede haber dos iguales dentro del mismo diccionario.
- Si se asigna un valor a una clave ya existente, el valor anterior se sobrescribe.
- Las claves pueden ser de distintos tipos (por ejemplo: cadenas, números, tuplas inmutables).

In [132]:
#Definir diccionario
diccionario_1 = {'usuario' : 'Carlos', 'DNI' : 12345678, 'cursos': ['Python','Álgebra','Economía'] }
#Se accede a cada elemento del siguiente modo.
print(diccionario_1['usuario'])
print(diccionario_1['DNI'])
print(diccionario_1['cursos'])
#Observe que la clave 'cursos' nos muestra una lista. Por lo que podemos
#acceder a cada elemento de la lista del siguiente modo:
print(diccionario_1['cursos'][0])
print(diccionario_1['cursos'][1])
print(diccionario_1['cursos'][2])

Carlos
12345678
['Python', 'Álgebra', 'Economía']
Python
Álgebra
Economía

Veamos algunos métodos de los diccionarios.

In [133]:
print(diccionario_1.get('usuario')) # Muestra el valor de la clave 'usuario'
print(diccionario_1.keys())         # Muestra las claves del diccionario
print(diccionario_1.values())       # Muestra los valores del diccionario
del diccionario_1['DNI']            #Elimina el valor correspondiente a la clave 'DNI'
print(diccionario_1)                #Mostrar nuevo diccionario
print(diccionario_1.pop('cursos'))  #Muestra el valor correspondiente a la clave 'cursos' y la elimina
print(diccionario_1)                #Mostrar nuevo diccionario
diccionario_1.clear()               #Elimina todos los elementos del diccionario
print(diccionario_1)                #Mostrar nuevo diccionario

Carlos
dict_keys(['usuario', 'DNI', 'cursos'])
dict_values(['Carlos', 12345678, ['Python', 'Álgebra', 'Economía']])
{'usuario': 'Carlos', 'cursos': ['Python', 'Álgebra', 'Economía']}
['Python', 'Álgebra', 'Economía']
{'usuario': 'Carlos'}
{}

>## **Conjuntos**

Un conjunto es una colección de **datos no ordenada** y no presenta  elementos repetidos.

Se comportan del mismo modo que los conjuntos utilizados en matemáticas y lógica.

Para crear un conjunto, basta con poner elementos entre **{ }** (**llaves**) y separarlas con **,** (**comas**).

```
mi_conjunto = {0 , 2 , 4 , 6 , 8 , 10 }
```


**OJO:** Ya que no existe un índice que caracterice a cada elemento de un conjunto, no es posible acceder a los elementos del modo tradicional. Sin embargo, es posible hacerlo utilizando un bucle, esto lo veremos más adelante.

Exploraremos los métodos correspondientes a los conjuntos:

In [134]:
#Conjuntos
#Definir un conjunto
mi_conjunto = {2,3,5,7,11}
print(mi_conjunto)

mi_conjunto.add(13)   #Añadir el elemento 13
print(mi_conjunto)    #Mostrar el nuevo conjunto

mi_conjunto.remove(5) #Remover el elemento 5
print(mi_conjunto)    #Mostrar el nuevo conjunto

mi_conjunto.clear()   #Vaciar los elementos del conjunto
print(mi_conjunto)    #Mostar nuevo conjunto

{2, 3, 5, 7, 11}
{2, 3, 5, 7, 11, 13}
{2, 3, 7, 11, 13}
set()

In [135]:
mi_conjunto = {1, 2, 3, 4, 5}

for elemento in mi_conjunto:
    print(elemento)

1
2
3
4
5

In [136]:
mi_conjunto = {1, 2, 3, 4, 5}

e_buscar = 4

if e_buscar in mi_conjunto:
    print(f"El elemento {e_buscar} está en el conjunto")
else:
    print(f"El elemento {e_buscar} no está en el conjunto")

El elemento 4 está en el conjunto

In [137]:
mi_conjunto = {2,3,5,7,11}
print(mi_conjunto)
mi_conjunto.add(5)
print(mi_conjunto)

{2, 3, 5, 7, 11}
{2, 3, 5, 7, 11}

Dado que los conjuntos poseen las mismas características de los estudiados en matemáticas y lógica, se pueden realizar las mismas operaciones como la **intersección**, **unión**, **diferencia** o **diferencia simétrica**. Definiremos 2 conjuntos y aplicaremos estas operaciones. Los conjuntos a definir serán las clases que llevan los estudiantes de ingenierías y los de derecho.

In [138]:
ingenieria = {'álgebra','programación','historia','química','inglés'}
derecho = {'inglés','derecho civil','filosofía','álgebra','economía'}
print('Clases de ingeniería: ', ingenieria)
print('Clases de derecho: ',derecho)
print('Intersección: ',ingenieria.intersection(derecho)) #Elementos en común
print('Union: ', ingenieria.union(derecho)) #Unión de todos los elementos
print('Diferencia: ',ingenieria.difference(derecho)) #Elementos en ingeniería pero no en derecho
print('Diferencia: ',derecho.difference(ingenieria)) #Elementos en derecho pero no en ingeniería
print('Diferencia simétrica: ',ingenieria.symmetric_difference(derecho)) #Todos los elementos excepto la intersección

Clases de ingeniería:  {'programación', 'historia', 'álgebra', 'química', 'inglés'}
Clases de derecho:  {'derecho civil', 'filosofía', 'álgebra', 'economía', 'inglés'}
Intersección:  {'inglés', 'álgebra'}
Union:  {'programación', 'derecho civil', 'álgebra', 'economía', 'inglés', 'historia', 'filosofía', 'química'}
Diferencia:  {'programación', 'historia', 'química'}
Diferencia:  {'economía', 'derecho civil', 'filosofía'}
Diferencia simétrica:  {'programación', 'derecho civil', 'filosofía', 'historia', 'química', 'economía'}

In [139]:
ingenieria = {'álgebra','programación','historia','química','inglés'}
derecho = {'inglés','derecho civil','filosofía','álgebra','economía'}

inter = ingenieria.intersection(derecho)
print(inter)

#elementos solo de ingernieria
dife = ingenieria.difference(derecho)
print(dife)

lista1 = set([1,2,3])
lista2 = set([4,2,6])
print(lista1)

{'inglés', 'álgebra'}
{'programación', 'historia', 'química'}
{1, 2, 3}